{% extends 'base.html' %}

{% block content %}
    <h1>О нашем сайте</h1>
    <div class="card">
        <p>Очень старался сделать это все и сделал сколько успел. Но зато я понял теперь как все это работает.
            Не все конечно, но все же понял. До этого была большая дыра в понимании MVC.
        </p>
        <img src="https://cdn-irec.r-99.com/sites/default/files/imagecache/copyright/user-images/261812/rzCWTWt0VP6dhjPk4Ww9RA.jpg" width="1000" height="600"alt="Me)">
    </div>
{% endblock %}